
        {% extends 'main.html.twig' %}
        {% block title %}
            <title>Продукты</title>
        {% endblock %}

        {% block table %}

        <h1>Продукты</h1>
            <nav class="nav flex-column">
                <a class="nav-link active" aria-current="page" href="/product/add">Добавить Продукт</a>
            </nav>

            <table class="table">
            <thead>
            <tr>
                <th scope="col">название</th>
                <th scope="col">цена</th>
                <th scope="col">сезон</th>
            </tr>
            </thead>
            {% for product in products %}
                <tbody>
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.season }}</td>
                    <td><a href="/product/update/{{ product.id }}">изменить</a></td>
                    <td><a style="color: red" href="/product/delete/{{ product.id }}">удалить</a></td>
                    <td><a style="color: #5eb5e0" href="/product/show/{{ product.id }}">показывать</a></td>
                </tr>
                </tbody>
            {% endfor %}
        </table>

        {% endblock %}
